{% extends "detector/base.html" %}
{% block content %}
    <h1>Device ID:</h1>
    <input type="number" id="device_id">

    <!--Currently ignored-->
    <h1>Analysis Type</h1>
    
    <div>
        <input type="radio" id="half-life" name="drone" value="half-life"
               checked>
        <label for="half-life">half-life</label>
    </div>
    <!-- -->

    <input type="submit" onclick="onClick()" value="Submit">

    <script>
        function onClick() { 
            let device_id = document.getElementById("device_id").value;
            window.location.href = `${window.location.origin}/detector/half-life/${device_id}`
            console.log(device_id)
        }
    </script>
{% endblock content %}