{% extends "detector/base.html" %}
{% block content %}
    <form class="row">
        <div class="col-lg-4 mb-3">
            <label for="device-id" style="font-size: xx-large">Device ID</label>
            <div>
                <input type="text" id="device-id" class="form-control">
            </div>
        </div>

        <div class="col-lg-4 mb-3">
            <label for="analysis" style="font-size: xx-large">Analysis Type</label>
            <div class="mt-1">
                <select name="analysis" id="analysis">
                    <option value="half-life">Half Life</option>
                    <option value="energy-spectrum">Energy Spectrum</option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <input type="button" onclick="onClick()" value="Submit" class="col-sm-1">
        </div>
    </form>

    <script>
        function onClick() { 
            let device_id = document.getElementById("device-id").value;
            let analysis = document.getElementById("analysis").value;
            window.location.href = `${window.location.origin}/detector/${analysis}/${device_id}`
        }
    </script>

{% endblock content %}