<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Device ID:</h1>
    <input type="text">
    <h1>Analysis Type</h1>
    <div>
        <input type="radio" id="type1" name="drone" value="type1"
               checked>
        <label for="type1">type1</label>
    </div>
      
    <div>
        <input type="radio" id="type2" name="drone" value="type2"
               checked>
        <label for="type2">type2</label>
    </div>
      
    <div>
        <input type="radio" id="type3" name="drone" value="type3"
               checked>
        <label for="type3">type3</label>
    </div>      
</body>
</html>